html, body {
    padding: 0px;
    margin: 0;
}

.wrap {
    font: 12px Arial, san-serif;
}

h1.likert-header {
    padding-left: 4.25%;
    margin: 20px 0 0;

}

form .statement {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0 0 4.25%;
    margin-bottom: 10px;


}

form .likert {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 0 35px;
    display: block;
    border-bottom: 2px solid;


}

form .likert:last-of-type {
    border-bottom: 0;
}

form .likert:before {
    content: '';
    position: relative;
    top: 11px;
    left: 9.5%;
    display: block;
    background-color: #A4C3B2;
    height: 4px;
    width: 78%;

}

form .likert li {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;


}

form .likert li input[type=radio] {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -6px;


}

form .likert li label {
    width: 100%;
}

form .buttons {
    margin-top: 2px;
    padding: 0 4.25%;
    text-align: right;

}

form .buttons button {
    padding: 5px 10px;
    background-color: #CCE3DE;
    border: 0;
    border-radius: 3px;

}

form .buttons .clear {
    background-color: #6B9080;
}

form .buttons .submit {
    background-color: #6B9080;
}

form .buttons .clear:hover {
    background-color: #6B9080;
}

form .buttons .submit:hover {
    background-color: #6B9080;
}